body { font-family:'Lucida Grande','Calibri', sans-serif, 'Inconsolata'; }
input,select,textarea { font-family:'Inconsolata';}
td { }
.pane { width: 100%;
  height: 100%;
  position: absolute;
}
.submitter {}
.submitter .comments {

}
.member.module .content {
  float:left;
}
.button.grip {
  float: left;
  line-height: 1em;
  /* color: white; */
  background: none;
  font-family: monospace;
  line-height: 1.6em;
  font-size: 1em;
  height: 1em;
  margin-left: -2em;
  height: 2em;
  padding: 0;
  width: 2em;
  text-align: center;
  vertical-align: middle;
  text-decoration:none;
}
span.branch1 {

}
span.branch1:before { content:"|"; float:left}
a.member { text-decoration:none; }
.member:last-child:before {
  content:"\2514";
  text-decoration: none;
  font-family: monospace;
  font-size: 1.35em;
  line-height:1em;
}
.member:before {
  content: "\251c";
  text-decoration: none;
  font-family: monospace;
  font-size: 1.35em;
  line-height:1em;
  text-decoration: none;
}
.module.member.collapsed {
  line-height: 1.25em;
  margin: 0;
  margin-left: 1em;
  padding: 0;
}
.submitter>span {
  font-size:1.5em;
  line-height:25px;
}
.FileBrowser { z-index:10000;background-color:white; }
.submitter .button {
  bottom: 0;
  position: absolute;
  width: 100%;
  line-height: 2em;
  font-size: 1.5em;
}
.submitter .comments {
  display: block;
  width: 100%;
  position: absolute;
  top: 25px;
  padding: 8px;
  bottom: 50px;
  left: 0;
  right: 0;
}
form.ProfileEditor {
  width: 400px;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 400px;
}
.ProfileEditor .field {
  line-height: 1.5em;
  height: 2em;
}
.ProfileEditor .caption {
  width: 1in;
  text-align: right;
  float: left;
  display: block;
}
.button.saved { background-color:rgba(50,200,75,0.9); }
.template.layout {background-color:pink; }
.modalshader {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 1000000;
}
.modalwindow {
  position: fixed;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 50%;
  height: 50%;
  z-index: 10000001;
  background: white;
}
.TabbedTitlebar .controls { float:right;width:auto;line-height:1.5em;height:1.5em; }
iframe.programinstance {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: none;
}
.tab, .button {
  box-sizing:border-box;

}
.switch.tabset .tab {
  border:1px inset #555;
}
.switch.tabset .tab.active {

}
.highlight { box-shadow:5px 5px 5px inset; }
svg.highlight {fill:blue; -webkit-filter: drop-shadow( -5px -5px 5px inset #000 );
  filter: drop-shadow( -5px -5px 5px #000 );}
.ContextItem {
  line-height: 4em;
  background-color: #bbb;
  height: 4em;
  display: block;
  font-size: 0.5em;
  width: auto;
  float: left;
  padding: 0 0.5em;
}
.TabbedTitlebar .tabset .tab {
  float: right;
  line-height: 2em;
  height: 2em;
  padding: 0 1em;
  border: none;
}
.controls .button {
  padding: 0 0.5em;
  /* margin: 0.25em 0; */
  line-height: 2.75em;
  font-size: 0.75em;
  font-weight: bold;
  height: 1.5em;
  background-color: none;
  background: none;
  border: none;
}
.ghost.template { opacity:0.5;box-shadow:5px 5px 5px black; }
.node { overflow:visible; }
.TabbedTitlebar .tabset{ margin:0.25em 1em;float:right; }
.TabbedTitlebar .tab.active {     background-color: #bbb;
  -webkit-box-shadow: 0px 0px 1em -5px inset; }
.TabbedTitlebar .tab { background-color:#bbb; }
table { background-color:#fff; }
table .even { background-color:#efefef; }

.tabset.fancy .tab.active:before,
.tab.active:after,
.pane,
.title-bar,.tab.active   {
  background-color:#bbb; /* frame-color */
}
.tab {
  background-color:#555;
}
/*::-webkit-scrollbar-track
{
background: #CCC;

}
*/
.node.template { margin:0.5em 1em 1.5em 1em; }
/*
::-webkit-scrollbar-thumb
{
background:#999;

}*/
.tabset.fancy {  height: 28px;
  margin: 5px 5px 0 5px;
  padding: 0 5px 0px 5px;}
.tabset.fancy .tab {
  text-indent: 0px;
  /* float: left; */
  margin: 0 14px;margin: 0 15.5px;
  line-height: 28px; }

.tabset.fancy .tab:before  {border-radius: 0px 05px 0 0;
  width: 19px;
  height: 100%;
  margin-right: -16px;
  /* right: -16px; */
  content: '';
  right:0;
  display: block;
  /*float: right;*/
  -webkit-transform: skew(15deg, 0deg);
  -moz-transform: skew(15deg, 0deg);
  -ms-transform: skew(15deg, 0deg);
  -o-transform: skew(15deg, 0deg);
  transform: skew(15deg, 0deg);
  border-right: 1px solid #555;

}
a.filelink {
  border-bottom:1px solid orange;
  width: 100%;
  margin-left: -1em;
  padding-left: 1em;
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  width: 100%;
  display: block;
  transition:background-color 3s ease;
  background-color:rgba(255,255,0,0.5);
}
a.filelink.loaded {
  background-color:rgba(255,255,255,0.25);
}
.module.member {
  /* border-left: 1px solid orange; */


}
.collapsible.dir>h3 {
  background: none;
  border-bottom: none;
}
.collapsible.dir .content {
  border:none;
  background-color:rgba(200,200,200,0.25);
}
.pane>.content {

  border:1px inset #ccc;
  background-color:#EEE;
}
.tabset.fancy .tab:before,.tab:after { background-color:#555;}
.tabset.fancy .tab>span { margin-left:-8px; }
.tabset.fancy .tab:after  {
  width: 20px;
  height: 100%;
  margin-left: -15px;
  /* top: -25px; */
  left:0;
  border-left: 1px solid #777;

  content: '';
  display: block;
  /*float: left;*/
  -webkit-transform: skew(-15deg, 0deg);
  -moz-transform: skew(-15deg, 0deg);
  -ms-transform: skew(-15deg, 0deg);
  -o-transform: skew(-15deg, 0deg);
  transform: skew(-15deg, 0deg);
  border-radius: 5px 0px 0 0;
}
::-webkit-scrollbar
{
  width: 10px;  /* for vertical scrollbars */
  height: 10px; /* for horizontal scrollbars */
}
.codeblock {
  margin-left:5px;
  border-left:1px solid black;
}
.FileBrowser .member {
  display: block;
  margin-left: 1em;
}
.file.module {
  margin-left: 1em;
  /* color: #ddcccc; */
  color: #bb5;
}
.pane>.title-bar {
  line-height:35px;
  text-indent:8px;
}
.code .clears { clear:both;display:block; }
.code .init {border:2px solid green;background:rgba(25,150,25,0.5);
  display:block;
  border-width:2px 0 2px 0;}

.code .cls { background:rgba(100,200,100,0.5);display:block; margin:10px 0;}
.code .module { background:rgba(200,200,100,0.5);display:block;}
.code * { position:relative;color:#555;border:0px solid rgba(0,0,0,0);background-color:rgba(180,180,180,0.1); }
.code div { padding-top:0.0em;margin:0;margin-left:0.5em; }
.code div>span:first-child { margin-top:0.8em;}
.m>.Identifier:before {content:"." }
.m>.Identifier:first-child:before { content:""}
/*.code span { display:block;float:left; }*/
.code .unknown { color:#aa5555; }
.code *:hover { border-color:black; }


.code .label { background-color:#555;color:orange;padding:1px 3px;position:absolute;top:-14px;height:10px;left:-9px;font-size:9px;box-shadow:0 0 20px 5px rgba(255,255,255,0.5); }
/*
.hovering { border-width:1px;border-style:solid;border-color:black;}//box-shadow:0px 0px 10px rgba(200,200,200,0.5)
*/

.ui-resizable-se { color:#ddd;width:30px;height:30px;font-size:12px;content:'\e04e';font-family:icons;cursor:se-resize }
.ui-resizable-sw { color:#ddd;width:30px;height:30px;font-size:12px;content:'\e04e';font-family:icons;cursor:sw-resize }
.ui-resizable-nw { color:#ddd;width:30px;height:30px;font-size:12px;content:'\e04e';font-family:icons;cursor:nw-resize }
.ui-resizable-ne { color:#ddd;width:30px;height:30px;font-size:12px;content:'\e04e';font-family:icons;cursor:ne-resize }
.ui-resizable-n { color:#ddd;width:100%;height:30px;font-size:12px;content:'\e04e';font-family:icons;cursor:n-resize }
.ui-resizable-e { color:#ddd;width:30px;height:100%;font-size:12px;content:'\e04e';font-family:icons;cursor:e-resize }
.ui-resizable-s { color:#ddd;width:100%;height:30px;font-size:12px;content:'\e04e';font-family:icons;cursor:s-resize }
.ui-resizable-w { color:#ddd;width:30px;height:100%;font-size:12px;content:'\e04e';font-family:icons;cursor:w-resize }
.ui-resizable-se:hover { color:#008000 }



.tab {
  font-size:0.75em;margin:0 1px 0 0;
  padding:0 1em;line-height:30px;
  z-index:110;text-align:center;


}
.tab.active {
  height:32px;
}

.tabset {}
.tab {
  text-indent: 0px;
  /* float: left; */

  height:30px;
  line-height: 30px;min-width:32px;
}
.title-bar {line-height: 33px;
  text-indent: 8px;
  font-size:0.8em;
  /* border-top: 1px solid #ccc; */
}
.header-bar {
  background-color:#444;

}
.buttonset {
  background-color:#777;
}

.icon { font-family:icons }

.pane>.content { top:27px;margin:5px 6px 6px 7px;bottom:0px;
}

.collapsible {
  margin:1px 0;
}
.collapsible.hidden>h3:before {
  content:'C';
  font-family:icons;   font-size:12px;text-indent:8px;
  color:#555;float:left;line-height:22px;vertical-align:middle; }

.header-bar {
  background-color:#444;
  overflow:visible;
}
x.collapsible>h3:before {
  content:'S';font-family:icons;
  float:left;text-indent:8px;font-size:12px;
  color:#555;line-height:30px;
  vertical-align:middle;
}
.process.selector {
  float: none;
  clear: both;
  font-size: 12px;
}
.collapsible>h3 {

  text-indent:5px;border-bottom:1px solid #aaa;
  font-size:14px;font-weight:normal;
  margin:0;line-height:30px;
  background-color:#ddd;
}
.collapsible .content { border-bottom:1px solid #999; }

.list-item { display: inline-block;
  background-color: #eee;
  margin:0.25em;
}

.tab { float:left;white-space:nowrap;
  height:30px;min-width:12px;
}
.active.tab>span {bottom:-3px;}
.tab>span {

  z-index:115;min-width:30px;overflow:hidden;
  text-overflow:ellipsis;background:inherit;
}

.composition { transition: height 0.125s ease-in-out;-webkit-transition: height 0.125s ease-in-out;-moz-transition: height 0.125s ease-in-out;
  border-radius:1px;text-overflow:ellipsis;overflow:hidden;margin:5px auto;background-color:#efefef;
  box-shadow:5px 5px 10px rgba(25,100,50,0.5); }

.message { border-radius:5px;background-color:#666;padding:10px;margin:10px;width:35%;clear:both; }
.sent.message { background-color:#666;float:right;text-align:right; }
.received.message { background-color:#6d6;float:left;text-align:left; }
.MenuButton { float:right;width:auto;height:36px;background-color:none;position:relative;z-index:1000; }
.MenuButton .content { float:right; }
.mainmenu { float:right; }
.MenuButton .tab {
  float: right;
}
.Gallery .GalleryThumb>img {
  margin: 22.5px auto;
}
.Category>.GalleryThumb {
  transition: opacity 0.5s ease-in-out;
  height: 125px;
  min-width: 125px;
}
.GalleryThumb .Caption {
  font-size: 12px;
  bottom: 0;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}
.ImagePicker {
  user-select:none;-moz-user-select:none;-webkit-user-select:none;
  overflow: hidden;
  height: 125px;
  width: 100%;
  overflow-x: scroll;
  white-space: nowrap;
}
.Gallery .GalleryThumb>span {
  display: none;
}
.GalleryThumb .Caption {
  font-size:12px;
}


.ImagePicker .Category { user-select:none;-moz-user-select:none;-webkit-user-select:none; }
.GalleryThumb>img {
  height: 80px;
  clear: both;
  width: auto;
  margin: 0 auto;
  margin-top: 8px;
  display: block;
}
.GalleryThumb {
  float: left;
  /* width: 50px; */
  overflow: hidden;
  position: relative;
  text-align: center;
  transition:opacity 0.5s ease-in-out;
}

.mainmenu .tabset { float:right; }

@media screen and (max-width:1024px) {
  .pagewidth { width:98%;margin:5px auto;}
  .message { width:65%; }
  .modalwindow { width:auto;left:8px;right:8px;top:8px;bottom:8px; }
}
@media screen and (min-width:1025px) {
  .pagewidth { width:1000px;margin:5px auto; }
}
.process {
  background-color: #efefef;
  margin: 5px;
  border-radius: 1px;

  font-size: 24px;
}

.composition.open { cursor:default;height:100%;}
span.compositiontitle {
  font-size: 20px;
  font-weight: bold;
  line-height: 32px;margin-top:8px;
  height:32px;width:100%;display:block;text-indent:12px;
}
.collapsible .content {
  background-color: #efefef;
  padding: 0px;
  border-bottom: 1px solid #999;
  overflow-y:scroll;
  transition:height 0.5s ease-in-out;

}
.button.processstep>.img {
  height:50px;
  display:block;
}

.button.processstep>.title {
  display:block;
  text-align:center;
}
.collapsible .content.hidden {
  height: 0;
  display: block;
  overflow: hidden;
  padding: 0;
  transition:height 0.5s ease-in-out;
}

.collapsible.ProcessInfo {
  margin: 0;
}
.process>.title {
  font-size: 20px;
  font-weight: bold;
  display: block;
  text-indent: 12px;
  line-height: 40px;
  height: 40px;
  vertical-align: middle;
  background-color: #ddd;
}
@keyframes PurpleFade {
  0% { background-color:#ddccdd; }
  100% { background-color:#e0cce0; }

}
@keyframes OrangeFade {

}
.active .compositiontitle {
  animation: PurpleFade 0.75s infinite alternate ease-in-out;

}
.raw .compositiontitle {
  background-color:#efbb55;
}
.collapsible.ProcessInfo.pagewidth {
  width:100%;
}
.transparent {
  opacity:0 !important;
}
.ProcessSteps {
  white-space:nowrap;
  width:1000000px;
}
.ProcessSteps .button.processstep {
  float:left;
  opacity:0.25;

  font-size:25px;
  text-align:center;
  transition:opacity 0.5s ease-in-out;
}
.ProcessSteps .button.processstep.visited {
  opacity:1;box-shadow:none;
}
.ProcessSteps .button.processstep.visited.active {
  box-shadow: 1px 1px 120px -30px blue inset;
}
.button.processstep>.title {

}
.button.processstep>img {
  height:50px;
}
.button.processstep.selected {
  border:2px solid rgba(0,0,0,0.5);
}
.ScrollingWrapper {

  overflow-y: hidden;
}



.Comments,.code {
  white-space:nowrap;
}
.code div { clear:both; }
.Comments div {
  background-color:rgba(255,255,255,0.9);
}
.code .V {

}
.V>span>span:nth-child(1) {
  color:pink;
}
.code .V>span:nth-child(1) {

}
.code {
  font-family:monospace;
  font-size:0.95em;

  padding:10px;
}
.code div, .code span { min-width:2px;padding:0 0 0 0;border-bottom:2px solid rgba(0,0,0,0) }
.code div { border-left:2px solid rgba(0,0,0,0) }
.Comments {width:100%;
  font-family:sans-serif;
  background-color:rgba(255,255,255,0.99);

  color:#888;float:left;clear:both;
  position:relative;font-size:0.9em;
}
.Comments.Block {

  display:block; clear:both;float:left;
}
.Comments.Line {
  float:left;clear:none;
}
.sitemenu {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 10000000;
    width: 45px;
    height: 50px;
    float: left;
    display: inline;
    /* margin-left: -5px; */
    margin: 5px;
  transition:left 0.5s ease-in-out, bottom 0.5s ease-in-out, width 0.5s ease-in-out, height 0.5s ease-in-out, transform 0.8s ease-in-out;
  transform:rotate(90deg);
}
.collapsed .sitemenu {
  left:-45px;bottom:-45px;width:90px;height:90px;transform:rotate(-90deg);
}
.sitemenu>path {
  fill:rgba(90,90,90,0.5);
    transition:fill 0.5s ease-in-out;
}
.collapsed .sitemenu>path {
 fill:rgba(200,200,200,0.7);
}
.TaskList {
    position: fixed;
    bottom: 0;
    left: 0;
    /* right: 0; */
    width: auto;
    transition: width 1s ease;
    /* width: 50px; */
    overflow: hidden;
    padding-left: 50px;
    padding-right: 0;
    text-overflow: clip;
    /* float: left; */
    z-index: 1000;
    white-space: nowrap;
    max-width: 100%;
    background-color: rgba(200,200,200,0.1);
    background: none;
  transition:width 0.4s ease-in-out;
    /* box-shadow: 2px 0px 6px -2px rgba(100,100,100,0.9); */
}
.TaskList.collapsed {

  width:0px;
  width:auto;
}
.TaskList>.tabset {
  /*display:inline;*/
  display:inline-block;width:auto;
  overflow:hidden;

  transition:opacity 0.25s ease-in;
  opacity:1;
}
.TaskList.collapsed>.tabset {
  transition:opacity 0.25s 0.25s ease-out;
 opacity:0;

}
.TaskList .tab {
    width: 50px;
    height: 50px;
    overflow: hidden;
    position: static;
    display: inline;
    /* float: left; */
    margin: 5px;
    box-shadow: 3px 3px 10px rgba(150,150,150,0.9);
}
.Comments>div {



  float:left;clear:both;
}
.code>div {

}
.pwddir {  line-height:32px; }
.FileBrowser { position:fixed;right:0;height:100%;width:300px;top:0;overflow-y:scroll; }
.FileBrowser .dir { margin-left:1em; }
.FileBrowser .dir>a { margin-left:1em;display:block; }

.importer { position:absolute;bottom:0;right:0; }
.pwddir { display:inline; padding:0; margin:0; }

.dirlink.button:hover { text-decoration:underline;color:black; }
.pwddir .dirlink.button:hover { text-decoration:none; color:black; }
.pwddir .dirlink { padding:0; }
.pwdbar { padding:0 0.25em;float:right; }
.button {
  background-color:#ccc;

  position:relative;
  z-index:2;
}
.FileBrowser .button {  background:none;font-weight:600;letter-spacing:0.01em;font-size:1.1em;color:#aaa;}


.FileBrowser .button.live { color:#0F0 }
.FileBrowser .button.membrane {
  color: #0AF;
  font-weight: 100;
}
.FileBrowser .button.Module {
  color: #FA0;
  font-weight: 500;
}
.FileListItem { transition:color 0.3s ease-in-out }
.FileBrowser .FileListItem:hover { text-decoration:underline; }
.FileBrowser .button.Directory:after {
  content: "/";
}
.FileBrowser .button.Directory {
  color: #3d3;
  font-weight: 600;
}
.FileBrowser .button.Class { color:#F0F; }
.FileBrowser .button.live.membrane { color:#FA0 }
.fs_container>.button {  line-height:1.25em;float:left;clear:both;width:100%;
  padding:0 0.25em; }

.pwdbar>.button {
  display:none;
}
.pwdbar>.button:first-child {
  display:inline;
}
.pwdbar>.button:last-child {
  display:inline;
}

.longer.pwdbar>.button:nth-last-child(2) {
  display:inline;
}
.longer.pwdbar>.button:nth-last-child(2):before {
  content:"/...";
}
.longer.pwdbar>.button:nth-last-child(2):hover:before {
  text-decoration:none;
}
