.code { font-family:monospace }
.ids {
  x  font-size: 1.25em;
    font-weight: bold;
    padding: 0 0.25em;
    background-color: rgba(0,0,0,0.5);
    color: white;
}
.inits::before { content:"NEW";font-size:0.5em;font-weight:bold;color:#ddbb333; }

.B { display:block; border:1px dashed rgba(0,0,0,0.2); padding:3px;margin:3px;}

.E { display:inline; }

.V>.I:first-child { top:-1em;font-size:0.5em;font-weight:bold;background-color:rgba(0,0,0,0.5);color:white; }

.deffunction { display:block; }

.I { font-size:1.25em;font-weight:bold; }
.param { float:left; }

.obj { display:block;padding:3px;border:2px dotted rgba(0,0,255,0.5); };
.prop { display:block; }
