SetEnv GIT_PROJECT_ROOT {git_root}
SetEnv GIT_HTTP_EXPORT_ALL
Options +ExecCGI +FollowSymLinks
Require all granted
Allow from all
<Files git>
SetHandler cgi-script
</Files>
<Files membrane.cgi>
SetHandler cgi-script
</Files>
<Files list.cgi>
SetHandler cgi-script
</Files>
<FilesMatch "^\.{1}.+">
Require all denied
</FilesMatch>


